<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.minetsh.imaging.gallery">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>

        <activity
            android:name=".IMGGalleryActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />

    </application>

</manifest>

