<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xingren.imaging">

    <application>

        <activity android:name=".ImageGalleryActivity" />

        <activity
            android:name=".ImageEditActivity"
            android:theme="@style/ImageEditTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />

    </application>

</manifest>
