<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.minetsh.imaging">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>

        <activity
            android:name="me.minetsh.imaging.IMGGalleryActivity"
            android:theme="@style/ImageGalleryTheme" />

        <activity
            android:name="me.minetsh.imaging.IMGEditActivity"
            android:theme="@style/ImageEditTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />

    </application>

</manifest>
